nav.top-bar(data-topbar, role="navigation", ng-controller='NavCtrl')
   ul.title-area
      li.name
         h1
            a(ui-sref='home') Note-Taking
      li.toggle-topbar.menu-icon
         a(href="/#/")
            span
   section.top-bar-section(ng-cloak)
      ul.left(ng-show='online')
         li: a: i.fa.fa-wifi
      ul.right(ng-show='!rootuser.username')
         li: a(ui-sref='home') Home
         li: a(ui-sref='register') Register
         li: a(ui-sref='login') Login
      ul.right(ng-show='rootuser.username')
         li: a(ui-sref='home') Home
         li.divider
         li: a#avatarlink(ng-click='logout()'): img#avatarimg(ng-src='{{rootuser.avatar}}')
